
body {
  background-color: #000;
  color: #fff;
}
.hero__text, .hero__title, .hero__button,
.portfolio__title, .tariffs__title, .about__title,
.reviews__title, .contact__title {
  color: #fff;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.contact__form input, .contact__form textarea {
  background: #222;
  border: 1px solid #444;
  color: #fff;
}


.nav-link{
  color: white;
}

.head__bg{
  background: url("../img/hed.png") no-repeat center/cover;
  height: 500px;
}

.about-me__wrap{
  display: flex;
}

.about-me__cards {
  display: flex;
  gap: 20px;
}

.about-me {
  background-color: #000; /* тёмный фон */
}
.about-me__title {
  font-size: 2rem;
  font-weight: bold;
}
.about-me__text {
  font-size: 18px;
  line-height: 1.6;
}
.about-me__image {
  object-fit: cover;
  width: 100%;
  height: auto;
}


.about-me__image{
  width: 300px;
  height: 300px;
}


.about-me__image__width{
  width: 600px;
  height: 200px;
}

.about-me__image__width__w {
  width: 741px;
  height: 240px;
}


.bg-black {
  background-color: #000 !important;
}

.portfolio__filter-link.active {
  border-bottom: 2px solid #fff;
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
}



.portfolio__image{
  width: 660px;
  height: 530px;

}